<!doctype html>
<html>
<link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='bootstrap.min.css') }}">
<link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='style.css') }}">

<meta name="viewport" content = "width=device-width, initial-scale=1.0">
<head>
</head>

   <body>
   

    <main role="main" class="container">
    <h1>Goldsmith Christmas Quiz 2019</h1>

    <img src="{{image_url}}"></img>

    <h2>Question {{question_no+1}}</h2>

    <form class="question" method="get" action="{{submit_url}}">

      <p>{{ question }}</p>

        {% for item in options %}
          <div class="form-check">
          <input class="form-check-input" type="radio"
                name="answer" id="answerOption{{loop.index}}"
                value="{{item}}"
                {{ "checked" if options_checked[loop.index0] else "" }}
          >
          <label class="form-check-label" for="answerOption{{loop.index}}"
                {{ 'style=background-color:lightgreen;' if options_correct[loop.index0] else "" }}
          >
            {{ item }}
          </label>
          </div>
        {% endfor %}

        </div>

        <button type="submit" class="btn btn-primary">{{submit_text}}</button>

     </form>
    </main>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">Quiz by jewellery designer <a href="https://www.instagram.com/marianna.brilliantova">Marianna Brilliantova</a></span>
      </div>
    </footer>

   </body>
</html>
